.calculator{
    margin-top: 50px;
}

table{
    border: 5px solid;
    box-shadow: 0px 0px 10px black;
    border-style: ridge;
    margin: auto;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: gray;
    
    
}

input[type="button"]{
    
    height: 80px;
    width: 80px;
    box-shadow: 2px 3px 5px black;
    font-size: x-large;
    margin:10px;
    
    
}

input[type="button"]:hover{
    opacity: 0.8;
}
input[type="text"]{
    
    width: 320px;
    height: 70px;
    box-shadow: 2px 3px 5px black;
    font-size: x-large;
    
}